[submodule "oh-my-zsh-custom/themes/powerlevel10k"]
	path = oh-my-zsh-custom/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "config/alacritty/themes"]
	path = config/alacritty/themes
	url = git@github.com:alacritty/alacritty-theme.git
[submodule "oh-my-zsh-custom/plugins/git-open"]
	path = oh-my-zsh-custom/plugins/git-open
	url = https://github.com/paulirish/git-open.git
[submodule "oh-my-zsh-custom/plugins/git-extra-commands"]
	path = oh-my-zsh-custom/plugins/git-extra-commands
	url = git@github.com:unixorn/git-extra-commands.git
